
@media screen and (max-width: 480px){
    #about{
        margin: 10px 20px;
    }
    .container{
        padding: 10px 18px;
    }
    #about .container .about-info{
        flex-direction: column;
    }
    #about .container p{
        margin-bottom: 2px;
    }
    #card-section .card-info p{
        margin-bottom: 10px;
        padding: 0px 20px;
    }
    #card-section .main-card{
        flex-direction: column;
        padding: 0px 20px;
    }
    .rusume .card-container {
        margin: 0px 20px;
        flex-direction: column;
    }
    .rusume .rusume-heading {
        margin-bottom: 20px;
        font-size: 33px;
        margin-top: 10px;
        padding: 0px 10px;
    }
    .footer-container {
        padding: 20px 20px;
        flex-direction: column;
        gap: 10px;
    }
    .feadback input, textarea {
        height: 5px;
        width: 100%;
        padding: 25px;
        margin-top: 5px;
    }
    .menu {
        padding: 0px 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero {
        flex-direction: column;
        padding: 10px 20px 0px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .hero-doc{
        text-align: center;
    }
    .hero .hero-doc h1 {
        font-size: 46px;
    }
    .btn-group{
        flex-direction: column;
    }
    header{
        background-image: url(../images/header_bg.png);
        background-position: bottom right;
        background-repeat: no-repeat;
    }
    .hero img {
        width:100%;
    }
}