.rusume .rusume-heading{
    margin-bottom: 114px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.rusume .card-container{
    margin: 0px 230px;
    display: flex;
    gap: 25px;
}
.resume-showing{
    padding-right: 47px;
}
.resume-degree{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0px;
}
.resume-showing h4, p{
    color: #757575;
}
.resume-btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    color: white;
    cursor: pointer;
}
.btn-certer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 113px;
}

/* resume end  */

/* footer start  */
footer{
    background-color: #FFF8F3;
}
.footer-container{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.contact p{
    padding-bottom: 21px;
    font-size: 16px;
}
.footer-social-icon i{
    color: #FD6E0A;
    font-size: 20px;
}
.footer-social-icon .fa-twitter, .fa-square-instagram {
    margin-left: 10px;
}
.feadback input, textarea{
    height: 20px;
    width: 461px;
    padding: 20px;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    margin-top: 10px;
    border: none;
}
.feadback textarea{
    height: 180px;
}
.feadback button{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10px;
    cursor: pointer;
}
/* footer end */